@page "/counter"
@rendermode InteractiveServer
@using System.Drawing

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" class="@counterClass">Current count: @currentCount</p>

<RadzenButton Text="加算" Click="IncrementCount" class="btn btn-primary"></RadzenButton>
<RadzenButton Text="減算" Click="DecrementCount" class="btn btn-primary"></RadzenButton>

@code {
    private int currentCount = 0;
    private string counterClass = "";

    private void SetCounterClass()
    {
        if (1 <= currentCount && currentCount <= 5)
        {
            counterClass = "counter-warn";
        }
        else{
            counterClass = "";
        }
    }

    private void IncrementCount()
    {
        currentCount++;
        SetCounterClass();
    }

    private void DecrementCount()
    {
        currentCount--;
        SetCounterClass();
    }

}
