@page "/counter"
@rendermode InteractiveServer
@using System.Drawing

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" class="@counterClass">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">加算</button>
<button class="btn btn-primary" @onclick="DecrementCount">減算</button>

@code {
    private int currentCount = 0;
    private string counterClass = "";

    private void SetCounterClass()
    {
        if (1 <= currentCount && currentCount <= 5)
        {
            counterClass = "counter-warn";
        }
        else{
            counterClass = "";
        }
    }

    private void IncrementCount()
    {
        currentCount++;
        SetCounterClass();
    }

    private void DecrementCount()
    {
        currentCount--;
        SetCounterClass();
    }

}
