@page "/"
@using BlazorApp.Utils.CommonConstants
@rendermode InteractiveServer
@inject IStateBox<List<ShainInfo>> sessionState
@inject NavigationManager NavigationManager

<PageTitle>社員一覧</PageTitle>

<h1>社員一覧</h1>
@* <h1>Hello, world!</h1>

Welcome to your new app.
 *@

<div>
    <RadzenDataGrid TItem="ShainInfo" Data="list" LoadData="LoadShainInfo" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedShainInfo>
        <Columns>
            <RadzenDataGridColumn Title="氏名">
                <Template>
                    @context.ShainName
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="入社日">
                <Template>
                    @context.Nyushabi.ToString("yyyy/MM/dd")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="雇用形態">
                <Template>
                    @string.Format($"{context.ShainKbn} ({ShainKbn.GetName(context.ShainKbn)})")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="備考">
                <Template>
                    @GetFirstLine(context.Biko)
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
<div style="margin-top: 10px">
    <RadzenButton Text="追加" Click="ShainAdd" class="btn btn-primary"></RadzenButton>
</div>
